<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">
    
    <http lowercase-comparisons="false">
    	<!--intercept-url pattern="/images/*" filters="none"/>
        <intercept-url pattern="/styles/*" filters="none"/>
        <intercept-url pattern="/scripts/*" filters="none"/-->
        <intercept-url pattern="/admin/*" access="ROLE_ADMIN"/>
        <intercept-url pattern="/passwordHint.html*" access="ROLE_ANONYMOUS,ROLE_ADMIN,ROLE_USER"/>
        <intercept-url pattern="/signup.html*" access="ROLE_ANONYMOUS,ROLE_ADMIN,ROLE_USER"/>
        <intercept-url pattern="/a4j.res/*.html*" access="ROLE_ANONYMOUS,ROLE_ADMIN,ROLE_USER"/>
        <!-- APF-737, OK to remove line below if you're not using JSF -->
        <intercept-url pattern="/**/*.html*" access="ROLE_ADMIN,ROLE_USER"/>
        <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=true" default-target-url="/mainMenu.html" login-processing-url="/j_security_check"/>
        <remember-me user-service-ref="userDao" key="e37f4b31-0c45-11dd-bd0b-0800200c9a66"/>
    </http>

	<authentication-provider user-service-ref="userDao">
        <password-encoder ref="passwordEncoder"/>
    </authentication-provider>
    
    <!-- Active Directory -->
    <!--
	<ldap-server
		url="ldap://example:389"
		manager-dn="CN=My Service Account,OU=Accounts, DC=example, DC=com"
		manager-password="password"
	/>
	
	<s:ldap-authentication-provider
		user-search-base="OU=Accounts, DC=example, DC=com"
		user-search-filter="sAMAccountName={0}"
		group-search-filter="member={0}"
		group-role-attribute="cn"
		group-search-base="OU=Groups, DC=example, DC=com"
		role-prefix="ROLE_"
	/>
	-->
	
	<!-- Apache Directory Service -->
	<!-- -->
	<ldap-server id="ldapServer"
        url="ldap://localhost:10389"
        manager-dn="uid=admin,ou=people,dc=example,dc=com" manager-password="secret" />

	<ldap-authentication-provider
		user-search-base="ou=people,dc=example,dc=com"
		user-search-filter="uid={0}"
		user-details-class="person"
		group-search-base="ou=groups,dc=example,dc=com"
		group-search-filter="member={0}"
		group-role-attribute="cn"
		role-prefix="ROLE_"
	/>
	<!--  -->
	<!-- Open Directory Service -->
	<!-- 
	<ldap-server id="ldapServer"
        url="ldap://localhost:389/dc=example,dc=com"
        manager-dn="cn=Directory Manager" manager-password="changeit" />
    <authentication-provider>
        <password-encoder hash="{sha}" />
        <ldap-user-service server-ref="ldapServer"
            user-search-filter="uid={0}" user-search-base="ou=people"
            group-search-filter="member={0}" group-search-base="ou=groups"/>
    </authentication-provider>
 	-->        
    <!-- Override the default password-encoder (SHA) by uncommenting the following and changing the class -->
    <!-- <bean id="passwordEncoder" class="org.springframework.security.providers.encoding.ShaPasswordEncoder"/> -->

    <global-method-security>
    	<protect-pointcut expression="execution(* *..service.LoginService.getUsers(..))" access="ROLE_ADMIN,ROLE_USER"/>
		<protect-pointcut expression="execution(* *..service.LoginService.deleteUser(..))" access="ROLE_ADMIN"/>
		<protect-pointcut expression="execution(* *..service.LoginService.createUser(..))" access="ROLE_ADMIN"/>
        <protect-pointcut expression="execution(* *..service.UserManager.getUsers(..))" access="ROLE_ADMIN,ROLE_USER"/>
        <protect-pointcut expression="execution(* *..service.UserManager.removeUser(..))" access="ROLE_ADMIN"/>
    </global-method-security>

</beans:beans>
